<div class="Header ">

    <div class="LogoRow">

        <img class="PrincipalLogo" src="{{ .Site.BaseURL }}auge-menu-logo.svg" alt="Logo">

        <div class="Cart">
    
            <div class="OrderImg">
                <img src="{{.Site.BaseURL}}order.svg" alt="Order">
            </div>
            
    
            <p class="NumberOfItems">0</p>
    
        </div>

    </div>

    <div class="HeaderImage">


    </div>

    <div class="ContactRow">

        <div class="ContactCard">

            <img src="{{.Site.BaseURL}}clock.svg" alt="">

            <p id="abierto"></p>

        </div>

        <div class="ContactCard">

            <a href="" class="ContactLink" target="_blank">

                <img src="{{.Site.BaseURL}}location-pin.svg" alt="" >

                <p>Paseo de Mentejo 220</p>

            </a>

        </div>

        <div class="ContactCard">
            
            <a href="tel:4421441553" class="ContactLink">
                
                <img src="{{.Site.BaseURL}}phone-call.svg" alt="">

                <p>4421441553</p>

            </a>

        </div>

        <div class="ContactCard">

            <a href="https://www.facebook.com/Men%C3%BAs-en-AUGE-106475121797694/" class="ContactLink" target="_blank">

                <img src="{{.Site.BaseURL}}facebook.svg" alt="">

                <p>Facebook</p>

            </a>
            

        </div>

    </div>
    

</div>	
